# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
instance/
.env
*.db
*.sqlite3

# Environment variables
.env
.env.*

# pytest / coverage
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/